/* ====================== */
/* START OF HEADER */
/* ====================== */

.wraper-header-top {
  //background: linear-gradient(90deg, #000000 79.81%, #f15a29 100%);
  padding: 7px 0;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: auto;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    padding: 12px 0;
  }
  @media (min-width: 1800px) {
    height: 52px;
  }
  //animation: gradientShift 4s ease-in-out infinite;
  .infoText {
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
    @media (min-width: 1800px) {
      font-size: 20px;
    }
    a {
      @media (min-width: 1800px) {
        font-size: 20px;
      }
    }
  }
  .tag_lightBlue {
    font-size: 14px;
    padding: 2px 6px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
    @media (min-width: 1800px) {
      font-size: 20px;
      padding: 4px 10px;
    }
  }
  @media (max-width: 767px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.header-search-wrap {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 20px 50px;
  z-index: 999;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;

  @media only screen and (max-width: 767px) {
    padding: 10px 20px;
  }

  &.open {
    transform: translateY(0);
  }

  .header-search-box {
    width: 600px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;

    .cross-btn {
      background-color: transparent;
      width: 44px;
      height: 36px;
      font-size: 30px;
      line-height: 30px;
      border: none;
      margin-left: 5px;
      padding: 0;

      @media only screen and (max-width: 767px) {
        width: 30px;
      }

      &:hover {
        color: $color__primary;
      }
    }

    .input-group {
      border: solid 1px #e7e7e7;
      border-radius: 5px;

      .input-group-text {
        background-color: #fff;
        border: none;
        font-size: 20px;
        color: $color__primary;

        &:hover {
          color: $color__black;
        }

        .search-icon {
          line-height: 1;
        }
      }

      .form-control {
        border-radius: 5px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: $color__black;
        padding-left: 0;
        height: 50px;
        padding-left: 5px;

        &:focus {
          box-shadow: none;
          outline: none;
        }

        @media only screen and (max-width: 767px) {
          width: 185px;
        }
      }
    }
  }
}

/* wraper-header */

.wraper-header {
  // top: 0;
  top: 44px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
  //z-index: 888;
  background-color: transparent;
  // position: sticky;

  position: fixed;

  @media (min-width: 768px) {
    top: 44px;
  }
  @media (min-width: 1800px) {
    top: 52px;
  }

  &.i-am-sticky {
    background-color: $color__white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    top: 0;
    .wraper-header-top {
      //margin-bottom: -44px;
      height: 0;
      visibility: hidden;
      transform: translateY(-44px);
      // height: 0;
      // padding: 0;
    }
    .wraper-header-main {
      .header-main {
      }
    }
  }

  &.aniHeader {
    transform: translateY(-100%);
    transition: all 0.5s ease-out 0.75s;
    //transition: height .25s ease-in,background-color 1s ease-out;

    &.headerShow {
      transform: translateY(0%);

      .wraper-header-main {
        background-color: rgba(255, 255, 255, 1);

        .header-main .main-nav > ul > li > a {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }

    .wraper-header-main {
      background-color: rgba(255, 255, 255, 0.01);
      transition: background 0.5s ease-out 1s;

      .header-main .main-nav > ul > li {
        > a {
          transform: translateY(-30px);
          opacity: 0;
          transition: transform 0.5s ease-out 1.1s;
        }
      }
    }
  }
}

/* wraper-header-main */

.wraper-header-main {
  background-color: transparent;

  > .container-fluid {
    // padding-top: 20px;
    // padding-bottom: 20px;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 991px) {
    > .container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  @media only screen and (max-width: 767px) {
    > .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 575px) {
    > .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* header-main */

  .header-main {
    // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    // backdrop-filter: blur(5px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    > .main-nav {
      width: auto;
      max-width: 100%;
      @media only screen and (min-width: 992px) {
      }
      @media only screen and (min-width: 1200px) {
      }
      @media only screen and (min-width: 1300px) {
      }
    }

    /* brand-logo */

    .brand-logo {
      padding: 0;
      border-left: none;
      border-right: none;
      position: relative;

      @media only screen and (max-width: 1299px) {
      }

      @media screen and (max-width: 1199px) {
      }

      @media screen and (max-width: 991px) {
      }

      @media only screen and (max-width: 767px) {
      }

      @media only screen and (max-width: 479px) {
      }

      @media only screen and (max-width: 375px) {
      }

      a {
        display: inline-block;
      }

      img {
        width: 130px;
        height: 28px;
        object-fit: contain;
        transition: all 0.3s ease-in-out;
        //filter: brightness(0.1) invert(1);
      }
    }

    .mMenu-link {
      padding: 5px 15px;
      margin-right: 20px;
      border-radius: 5px;
      border: solid 1px #999;
      background-color: #ffffff;
      text-decoration: none;

      @media only screen and (max-width: 1199px) {
        margin-right: 10px;
      }

      .ic-courses {
        color: $color__primary;
        margin-right: 5px;
        font-size: 16px;
      }

      .textInfo {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        color: $color__black;
        text-decoration: none;
      }
    }

    /* header-actionbar */

    .header-actionbar {
      margin-left: 10px;

      .btn {
        padding: 12px 20px 12px 20px;

        &:hover {
          color: #fff;
        }

        &.btn-primary-color:hover,
        &.btn-primary-color:focus {
          background-color: #fff;
          color: $color__primary;
        }
      }
    }

    /* header-mobilemenu-trigger */

    .header-mobilemenu-trigger {
      width: 53px;
      height: 53px;
      margin-top: 0;
      margin-left: 15px;
      border: none;
      border-radius: 0;
      box-shadow: initial;
      cursor: pointer;
      min-width: auto;
      background-color: $color__primary;
    }

    /* main-nav */

    .main-nav {
      vertical-align: top;
      align-items: center;
      font-size: 0;

      > ul > li.current-menu-item {
        > ul.sub-menu > li.menu-item-type-custom {
          > a {
            color: $color__black;
            background-color: transparent;
          }

          &.customMenu-active {
            a {
              background-color: #e2e2e2;
              color: $color__primary;
            }
          }
        }
      }

      /* nav level one */

      > ul {
        display: flex;
        column-gap: 22px;
        align-items: center;
      }

      > ul > li {
        position: relative;
        display: inline-block;
        vertical-align: top;

        // @media only screen and (max-width: 1199px) {
        // 	margin-right: 12px;
        // }
      }

      > ul > li:last-child,
      > ul > li:only-child {
        margin-right: 0;
        > a {
          border-right: none;
        }
      }

      > ul > li > a {
        position: relative;
        display: block;

        font-size: 15px;
        font-weight: 500;
        line-height: 20px;

        color: $color__black;

        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        padding: 24px 0;

        @media (min-width: 1800px) {
          font-size: 20px;
        }

        .submenu-indicator {
          position: relative;
          display: inline-block;
          background-image: url(../images/icons/arrow_drop_down.svg);
          background-size: 8px auto;
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          @media (min-width: 1800px) {
            width: 18px;
            height: 18px;
            background-size: 11px auto;
          }
        }

        // &:before {
        // 	position: absolute;
        // 	right: 0;
        // 	bottom: 27px;
        // 	width: 0;
        // 	height: 1px;
        // 	z-index: 0;
        // 	content: " ";
        // 	background-color: $color__primary;
        // 	-webkit-transition: all 0.3s ease-in-out;
        // 	transition: all 0.3s ease-in-out;
        // }
      }

      > ul > li.menu-item-has-children > a {
        padding-right: 50px;
        @media screen and (max-width: 1199px) {
          padding-right: 44px;
        }
      }

      > ul > li.menu-item-has-children > a:after {
        content: "\f0d7";
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        display: block;
        height: 17px;
        opacity: 1;
        position: absolute;
        right: 29px;
        top: -1px;
        width: 11px;
        bottom: 0;
        margin: auto;
        font-size: 16px;
        @media screen and (max-width: 1199px) {
          right: 23px;
        }
      }

      > ul > li > a:hover,
      > ul > li.current-menu-item > a,
      > ul > li.current-menu-parent > a,
      > ul > li.current-menu-ancestor > a {
        //background-color: $color__primary;
        color: $color__primary;

        // &:before {
        // 	right: auto;
        // 	left: 0;
        // 	width: 100%;
        // 	opacity: 1;
        // }

        // &:after {
        // 	opacity: 1;
        // }
      }

      > ul > li > a i {
        font-size: 130%;
      }

      /* nav level two */

      > ul > li > ul {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        // left: 50%;
        // transform: translateX(-50%);
        // -webkit-transform: translateX(-50%);
        z-index: 1;
        width: 240px;
        padding-top: 5px;
        padding-bottom: 6px;
        background: rgba(235, 235, 235, 1);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0;
        border: none;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      > ul > li:hover > ul {
        // top: calc(100% + 10px);
        top: calc(100% + 1px);
        opacity: 1;
        visibility: visible;
      }

      > ul > li > ul > li,
      > ul > li > ul > li > ul > li {
        position: relative;
      }

      > ul > li > ul > li > a,
      > ul > li > ul > li > ul > li > a,
      > ul > li > ul > li > ul > li > ul > li > a {
        position: relative;
        display: block;
        padding: 10px 15px 10px 15px;
        font-family: $basefont;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        color: $color__black;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
      }

      > ul > li > ul > li:hover > a,
      > ul > li > ul > li.current-menu-item > a,
      > ul > li > ul > li.current-menu-parent > a,
      > ul > li > ul > li.current-menu-ancestor > a,
      > ul > li > ul > li > ul > li:hover > a,
      > ul > li > ul > li > ul > li.current-menu-item > a,
      > ul > li > ul > li > ul > li.current-menu-parent > a,
      > ul > li > ul > li > ul > li.current-menu-ancestor > a,
      > ul > li > ul > li > ul > li > ul > li:hover > a,
      > ul > li > ul > li > ul > li > ul > li.current-menu-item > a {
        // background-color: #e0e1e2;
        background-color: #e2e2e2;
        color: $color__primary;
      }

      > ul > li > ul > li.menu-item-has-children > a:after,
      > ul > li > ul > li > ul > li.menu-item-has-children > a:after,
      > ul > li > ul > li > ul > li > ul > li.menu-item-has-children > a:after {
        position: absolute;
        top: 50%;
        right: 10px;
        content: "\f0d7";
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        font-size: 9px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      /* nav level three */

      > ul > li > ul > li > ul,
      > ul > li > ul > li > ul > li > ul {
        position: absolute;
        top: 10%;
        left: 100%;
        z-index: 1;
        width: 210px;
        padding-top: 5px;
        padding-bottom: 6px;
        background: rgba(235, 235, 235, 1);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border: none;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        // max-height: 300px;
        // overflow: auto;
      }

      > ul > li > ul > li:hover > ul,
      > ul > li > ul > li > ul > li:hover > ul {
        top: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .header-right {
    margin-left: 22px;
    .btn-header {
      font-size: 15px;
      font-weight: 500;
      padding-top: 23px;
      padding-bottom: 23px;
      @media (min-width: 1800px) {
        font-size: 22px;
        padding-top: 24px;
        padding-bottom: 24px;
      }
      .arrow {
        margin-left: 10px;
      }
    }
  }
}

/* wraper-header */

// .wraper-header.i-am-sticky {
// 	// background-color: $color__white;
// 	// box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

// 	/* wraper-header-main */

// 	.wraper-header-main {
// 		.header-main {
// 			.main-nav {
// 				> ul {
// 					> li {
// 						> a {
// 							color: $color__black;

// 							&:hover {
// 								color: $color__primary;
// 							}
// 						}
// 					}
// 				}
// 			}

// 			.header-mobilemenu-trigger {
// 				img {
// 					filter: none;
// 				}
// 			}
// 		}

// 		.header-main {
// 		}

// 		> .container-fluid {
// 			// padding-top: 15px;
// 			// padding-bottom: 15px;
// 		}

// 		@media only screen and (max-width: 991px) {
// 			> .container-fluid {
// 				padding-top: 10px;
// 				padding-bottom: 10px;
// 			}
// 		}
// 	}
// }

/* ====================== */
/* END OF HEADER */
/* ====================== */

/* ====================== */
/* START OF MOBILE SIDR MENU */
/* ====================== */

/* sidr */

.sidr {
  background-color: #fff;

  &#main-menu {
    max-width: 400px;
  }

  > .sidr-inner {
  }
}

body.sidr-open .sidr {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* mobile-header */

.wraper-mobile-header {
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: block !important;
  width: 100%;
  padding: 0 0 !important;
  background-color: $color__light;
  z-index: 1002;
  min-height: calc(100 * var(--vh));

  &.open-mMenu {
    transform: translateX(0);
  }
}

.mobile-header {
  flex-wrap: wrap;
  height: auto;
  overflow: hidden;
  width: 100%;
  /*min-height:100vh;*/
  // min-height: calc(100 * var(--vh));
  // padding: 25px 30px 30px 30px;

  /* mobile-header-top */

  .mobile-header-top {
    align-self: flex-start;

    /* brand-logo */
    .mobile-header-brand-wrap {
      border-bottom: 1px solid rgba(9, 30, 63, 0.3);
      width: 100%;
    }

    .brand-logo {
      vertical-align: top;
      padding: 15px 30px;

      img {
        width: 130px;
      }
    }

    /* mobile-menu-close */

    .mobile-menu-close {
      margin-top: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;

      width: 83px;
      height: 86px;
      border-left: 1px solid rgba(9, 30, 63, 0.3);

      span {
        font-size: 18px;
        color: #000;
        line-height: 1;
      }
    }

    /* mobile-header-menu */

    .mobile-header-menu {
      > ul {
        list-style: none;

        /* nav level one */

        > li,
        > li > ul > li,
        > li > ul > li > ul > li,
        > li > ul > li > ul > li > ul > li {
          position: relative;
          /*padding-right:45px;*/
          // padding-bottom: 23px;

          border-bottom: 1px solid rgba(9, 30, 63, 0.1);

          &:last-child,
          &:only-child {
            padding-bottom: 0;
          }
        }

        > li > a,
        > li > ul > li > a,
        > li > ul > li > ul > li > a,
        > li > ul > li > ul > li > ul > li > a {
          /*display:inline-block;*/
          display: block;
          padding-right: 30px;
          padding-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
          font-family: $basefont;
          // font-weight: 400;
          // font-size: 17px;
          // color: $color__black;
          // line-height: 1.25;
          text-decoration: none;

          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 0.72px;
          color: $color__black;
        }

        > li.menu-item-has-children > .submenu-opener,
        > li > ul > li.menu-item-has-children > .submenu-opener,
        > li > ul > li > ul > li.menu-item-has-children > .submenu-opener,
        > li
          > ul
          > li
          > ul
          > li
          > ul
          > li.menu-item-has-children
          > .submenu-opener {
          position: absolute;
          top: -13px;
          right: -17px;
          z-index: 1;
          display: inline-flex;
          align-items: center;
          justify-items: center;
          width: 45px;
          height: 45px;
          background-color: rgba(0, 0, 0, 0);
          text-align: center;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.5);
          line-height: 1;
          cursor: pointer;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;

          &.opened {
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
          }
        }

        > li.current-menu-item > a,
        > li.current-menu-parent > a,
        > li.current-menu-ancestor > a,
        > li > ul > li.current-menu-item > a,
        > li > ul > li.current-menu-parent > a,
        > li
          > ul
          > li.current-menu-ancestor
          > a
          > li
          > ul
          > li
          > ul
          > li.current-menu-item
          > a,
        > li > ul > li > ul > li.current-menu-parent > a,
        > li > ul > li > ul > li.current-menu-ancestor > a,
        > li > ul > li > ul > li > ul > li.current-menu-item > a {
          color: $color__primary;
        }

        > li > ul > li > a,
        > li > ul > li > ul > li > a,
        > li > ul > li > ul > li > ul > li > a {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 0.56px;
          color: $color__primary;
          padding: 18px 0;
          // color: rgba(0, 0, 0, 0.65);
        }

        /* nav level two */

        > li > ul,
        > li > ul > li > ul,
        > li > ul > li > ul > li > ul {
          padding-top: 20px;
          padding-bottom: 6px;
          padding-left: 20px;
          display: none;
        }

        > li > ul > li,
        > li > ul > li > ul > li,
        > li > ul > li > ul > li > ul > li {
          // padding-bottom: 16px;
          border-top: 1px solid rgba(9, 30, 63, 0.3);
          border-bottom: none;

          &:first-child {
            border-top: none;
            > a {
              padding-top: 0;
            }
          }
        }
      }
      > ul + ul {
        // margin-top: 23px;

        > li:last-child,
        > li:only-child {
          text-transform: uppercase;
        }
      }
    }
  }
}

/* ====================== */
/* END OF MOBILE SIDR MENU */
/* ====================== */

/* ========================== */
/* START OF RESPONSIVE CSS */
/* ========================== */

/* EXTRA LARGE DESKTOP PART */
@media screen and (min-width: 1920px) {
}

/* EXTRA LARGE DESKTOP PART */
@media screen and (max-width: 1919px) {
}

/* LARGE DESKTOP PART */
@media screen and (max-width: 1400px) {
}

/* DESKTOP PART */
@media screen and (max-width: 1199px) {
}

/* TABLET LANDSCAPE PART */
@media only screen and (max-width: 991px) {
  .mobile-header-menu {
    .menu {
      li {
        .clickD {
          // width: 20px;
          // height: 20px;
          height: 61px;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          width: 100%;

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $color__primary;
            // left: 50%;
            top: 50%;
            // transform: translate(-50%, -50%);
            right: 20px;
            left: auto;
          }

          &.toggled {
            &:after {
              transform: rotate(-180deg);
              -webkit-transform: rotate(-180deg);
            }
          }
        }

        .sub-menu.show {
          display: block;
          position: static;
          // padding: 20px 18px;
          // background: rgba(153, 153, 153, 0.1);

          padding-right: 30px;
          padding-left: 30px;
          padding-top: 0;
          padding-bottom: 0;

          li {
            list-style: none;
            list-style-type: none;

            a {
              // padding: 0;
            }

            &.current-menu-item {
              a {
                color: $color__primary;
              }
            }
          }
        }
      }

      > li.current-menu-item {
        > ul.sub-menu > li.menu-item-type-custom {
          > a {
            color: $color__black;
            background-color: transparent;
          }

          &.customMenu-active {
            a {
              color: $color__primary;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

/* TABLET PROTRAIT PART */
@media screen and (max-width: 767px) {
}

/* HIGH DEFINITION PHONE PART */
@media screen and (max-width: 575px) {
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (max-width: 479px) {
}

/* SMART PHONE LANDSCAPE PART */
@media (max-width: 812px) and (orientation: landscape) {
}

/* ========================== */
/* END OF RESPONSIVE CSS */
/* ========================== */

// =================== max-megamenu related css ====================

@keyframes itemFadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); // smoother offset
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.product_blog_item {
  .item_body {
    .img_wrap {
      width: 100%;
      position: relative;
      border-radius: 10px;
      .ratio {
        &::before {
          padding-top: calc(167 / 341 * 100%);
        }
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .tag_type {
        color: $color__white;
        font-weight: 500;
        font-size: 11px;
        text-transform: uppercase;
        background-color: $color__primary;
        border-radius: 60px;
        border: 1px solid $color__white;
        padding: 1px 8px;
        position: absolute;
        left: 12px;
        bottom: 12px;
      }
    }
    .dsc_text_holder {
      width: 100%;
      padding-top: 20px;

      .headingText {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
        color: $color__black;
        transition: all 0.3s ease-in-out;
        @media (min-width: 1200px) {
          font-size: 16px;
        }
      }
      .sminfo_action_holder {
        margin-top: 8px;
        .title_text {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #535353;
          @media (min-width: 1800px) {
            font-size: 18px;
          }
        }

        .sm_infolist_holder {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            column-gap: 15px;
            overflow: hidden;
            @media (min-width: 1800px) {
              column-gap: 22px;
            }
            li {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #535353;
              position: relative;
              &:before {
                content: "";
                width: 1px;
                height: 12px;
                background-color: #d9c39e;
                position: absolute;
                left: -8px;
                top: 4px;
                @media (min-width: 1800px) {
                  left: -11px;
                }
              }
              @media (min-width: 1800px) {
                font-size: 18px;
              }
            }
          }
        }
      }

      .read_more_link_holder {
        margin-top: 15px;
      }
    }
  }
}



.mega__solution{
  &__item{
    height: 100%;
    .item_body {
    .img_wrap {
      width: 100%;
      position: relative;
      .ratio {
        &::before {
          padding-top: calc(117 / 224 * 100%);
        }
        img {
          width: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
    }
    .dsc_text_holder {
      width: 100%;
      row-gap: 14px;
      padding-top: 16px;

      .headingText {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
        color: $color__black;
        transition: all 0.3s ease-in-out;
        @media (min-width: 1200px) {
          font-size: 16px;
        }
      }
      p{
         font-size: 14px;
          font-weight: 400;
          line-height: 1.3;
          color: $color__black;
          transition: all 0.3s ease-in-out;
          margin-bottom: 12px;
          &:last-child{
            margin-bottom: 28px;
          }
          @media (min-width: 1200px) {
            font-size: 16px;
          }
      }
      .read_more_link{
        &_holder{
          margin-top: auto;
        }
      }
    }
  }
  }
}

.mega__menu__title{
    color: $color__black;
    @include font-size($body-font-sizes);
    line-height: calc(20/16)!important;
    font-weight: 700;
    margin-bottom: 18px;
}
.mega__blog__list__holder{
  .list__item__wrap{
    row-gap: 38px;
    @include mq(md, max){
      row-gap: 24px;
    }
  }
  .list__item{
    display: grid;
    grid-template-columns: min(35%, 121px) 1fr;
    gap: 15px;
    .img_wrap{
      .ratio{
        &::before{
          padding-top: calc(68/121*100%);
        }
      }
    }
    .mega__blog__title{
        @include font-size($body-font-sizes_14);
          line-height: calc(16/14)!important;
          color: $color__black;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
    }
    p{
      font-size: 12px;
      font-weight: 600;
      line-height: calc(21/12);
      color: #535353;
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
  .read_more_link_holder{
    margin-top: 38px;
  }
}
.mega__video__list__holder{

  .mega__video__list{
      .img_wrap {
        width: 100%;
        position: relative;
        .ratio {
          &::before {
            padding-top: calc(167 / 296 * 100%);
          }
          img {
            width: 100%;
            object-fit: cover;
            object-position: top center;
          }
        }
      }
      .read_more_link{
        &_holder{
          margin-top: 30px;
        }
      }
  }
  .mega__video__item{
    display: flex;
    align-items: center;
    gap: 11px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #00000033;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 3px;
    &:last-child,
    &:last-of-type{
      border-bottom: none;
      padding-bottom: 0;
    }
    .content{
      p{
        @include font-size($body-font-sizes_14);
        line-height: calc(16/14)!important;
        font-weight: 500;
        color: $color__black;
        transition: all 0.3s linear;
      }
    }
    &:hover{
      .content{
        p{
          color: $color__primary;
        }
      }
    }
  }
}
.mega__cs__list__holder{
    .mega__cs__list {
    position: relative;
    height: 100%;
    &.has_link {
      .item_body {
        &:hover {
          .dsc_text_holder {
            .headingText {
              color: $color__primary;
            }
          }
        }
      }
    }
    .item_body {
      row-gap: 12px;
      .img_wrap {
        width: 100%;
        position: relative;
        .ratio {
          --bs-aspect-ratio: #{167/363 * 100%};
          img {
            object-fit: cover;
          }
          &::after{
            content: normal;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
                    background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.9) 4.7%,
          rgba(0, 0, 0, 0) 93.94%
        );
          }
        }
      }
      .dsc_text_holder {
        width: 100%;
        row-gap: 14px;

        .headingText {
          @include font-size($body-font-sizes_14);
          line-height: calc(16/14)!important;
          color: $color__black;
          transition: all 0.3s ease-in-out;
        }
        p{
          font-size: 12px;
          font-weight: 400;
          line-height: calc(16/12);
          color: $color__gray;
          margin-bottom: 0;
          @include mq(xxxl){
            font-size: 14px;
          }
        }
      }
    }
  }
  .read_more_link_holder{
    margin-top: 25px;
  }
}