@for $i from 6 through 15 {
  .pt_#{$i} {
    padding-top: #{$i * 10}px;
    @media (max-width: 767px) {
      padding-top: #{$i * 8}px;
    }
  }
  .pb_#{$i} {
    padding-bottom: #{$i * 10}px;
    @media (max-width: 767px) {
      padding-bottom: #{$i * 8}px;
    }
  }
  .py_#{$i} {
    @extend .pt_#{$i};
    @extend .pb_#{$i}!optional;
  }
}
$body-font-sizes_22: (
  null: (
    18px,
    1.44,
  ),
  sm: (
    18px,
    1.44,
  ),
  md: (
    18px,
    1.44,
  ),
  lg: (
    18px,
    1.44,
  ),
  xl: (
    20px,
    1.44,
  ),
  xxl: (
    22px,
    1.44,
  ),
  xxxl: (
    26px,
    1.44,
  ),
);
$body-font-sizes_20: (
  null: (
    16px,
    1.44,
  ),
  sm: (
    16px,
    1.44,
  ),
  md: (
    16px,
    1.44,
  ),
  lg: (
    16px,
    1.44,
  ),
  xl: (
    18px,
    1.44,
  ),
  xxl: (
    20px,
    1.44,
  ),
  xxxl: (
    24px,
    1.44,
  ),
);
$body-font-sizes_18: (
  null: (
    16px,
    1.44,
  ),
  sm: (
    16px,
    1.44,
  ),
  md: (
    16px,
    1.44,
  ),
  lg: (
    16px,
    1.44,
  ),
  xl: (
    16px,
    1.44,
  ),
  xxl: (
    18px,
    1.44,
  ),
  xxxl: (
    22px,
    1.44,
  ),
);

.ilu_step_sec {
  .container {
    & > .divider_line {
      left: 23.5%;
      top: 0;
      z-index: 3;
      @media (min-width: 768px) {
        left: 32.5%;
      }
      @media (min-width: 992px) {
        left: 23.4%;
      }
      @media (min-width: 1800px) {
        left: 23.4%;
      }
    }
  }
  .ilu_step_sec_top {
    background-color: $color__light;
    .osfc_left_col {
      padding-top: 40px;
      padding-bottom: 20px;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .osfc_right_col {
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  .steps {
    &_thumb_slider {
      @media (max-width: 991px) {
        border-right: 1px solid rgba(151, 214, 223, 0.5);
      }
      .splide__slide {
        position: relative;
        cursor: pointer;
        padding: 61px 10px 24px 10px;
        background: none;
        border: none;
        outline: none;
        transition: color 0.3s;
        display: flex;
        flex-direction: column;
        border: none !important;
        justify-content: flex-end;
        border-right: 1px solid rgba($color__lightBlue, 50%) !important;

        @media (max-width: 991px) {
          min-height: 100%;
          box-shadow: inset 1px 1px 0 rgba(151, 214, 223, 0.5);
          margin-left: 0;
          border-right: none !important;
          padding: 35px 10px 24px 10px;
        }

        @media (min-width: 1800px) {
          min-height: 212px;
        }

        &:last-child {
          border-right: none !important;
        }
        .icon_holder {
          position: relative;
          z-index: 2;
          img {
            width: 42px;
            height: 42px;
            object-fit: contain;
            object-position: left;
            filter: brightness(0) invert(0);
            @media (min-width: 1200px) {
              width: 54px;
              height: 54px;
            }
          }
        }

        .thumb_nav_text {
          color: rgba($color__black, 1);
          @include font-size($h24-sizes);
          font-weight: 600;
          margin-top: 12px;
          position: relative;
          z-index: 2;
          @media (max-width: 1199px) {
            font-size: 20px;
          }
          @media (max-width: 991px) {
            font-size: 18px;
          }
          @media (max-width: 767px) {
            br {
              display: none;
            }
          }
        }
      }
      .splide__slide {
        &.is-active {
          border: none;
          .icon_holder {
            img {
              filter: none;
            }
          }
          .thumb_nav_text {
            color: $color__primary;
          }
        }
      }
      .underline {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 9px;
        width: 100%;
        background: rgba($color__black, 0.05);
        transform: scaleX(0);
        transform-origin: left;
        height: 100%;
        //transition: transform 0.6s;
        border-bottom: 9px solid $color__primary;
        z-index: 1;
        pointer-events: none;
      }
      .splide__slide.is-active .underline {
        transform: scaleX(1);
        transition: transform 10s linear; /* Match autoplay interval */
        // background-color: $color__primary;
      }
    }
  }
  @keyframes blinkOutIn {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .ilu_step_sec_bottom {
    .roles_slider_holder {
      position: relative;
      z-index: 4;
      .splide__slide {
        &.is-active {
          animation: blinkOutIn 0.3s ease-in-out forwards;
        }
      }
    }
  }
  .steps_main {
    &_slider_content {
      .osfc_left_col {
        @extend .comn_sec_py;
        @media (max-width: 1199px) {
          width: 100%;
        }
      }
      .osfc_right_col {
        @extend .comn_sec_py;
        padding-bottom: 0;
        @media (max-width: 1199px) {
          width: 100%;
          padding-top: 0;
        }
      }
      .dsc_content {
        // background-color: $color__white;
        padding-right: 16px;
        height: 100%;
        .comn_dsc_text {
          .h4_heading_text {
            @include font-size($h24-sizes);
            font-weight: 400;
            width: min(260px, 100%);
          }
          p {
            margin-top: 32px;
          }
        }
      }
      .img_holder {
        padding-left: 0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        @media (min-width: 1200px) {
          padding-left: 40px;
        }
        @media (min-width: 1400px) {
          padding-left: 60px;
        }
        @media (max-width: 767px) {
          padding-left: 0;
        }
        .ratio {
          --bs-aspect-ratio: #{calc(533 / 954 * 100%)};
          border-width: 4px 4px 0px 4px;
          border-style: solid;
          border-color: #000000;
          border-radius: 10px 10px 0 0;
          img {
            border-radius: 10px 10px 0 0;
          }
        }
         .ratio__new{
          width: 100%;
          background: linear-gradient(275.46deg, $color__primary -4.32%, #8C432B 21.98%, #2E2E2E 56.58%);
          padding: 25px 37px 0px;
          display: flex;
          align-items: flex-end;
          &>*{
            width: 100%;
            height: auto;
            object-position: top;
          }
         }
      }
    }
  }
}
.ilu_choose {
  &_sec {
    color: $color__white;
    // @extend .pt_10;
    // @extend .pb_9;
    overflow: hidden;
    p {
      @include font-size($body-font-sizes_18);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .osfc_left_col {
      @include mq(lg) {
        margin-top: 36px;
      }
    }
    .heading_text {
      margin-top: 32px;
      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }
    .slide {
      &_card {
        color: $color__black;
        background-color: rgba($color__white, 90%);
        backdrop-filter: blur(164px);
        padding: 46px 32px;
        height: 100%;
        .headingText {
          @include font-size($h24-sizes);
          font-weight: 600;
          margin-top: 38px;
          margin-bottom: 24px;
        }
        &_heading {
        }
        &_icon {
          width: 54px;
          height: 54px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
          }
        }
      }
    }
  }
  &_slide_holder {
    padding-left: 60px;
    @media (max-width: 767px) {
      padding-left: 0;
      margin-top: 20px;
    }
    .comn_boxstyle_splide__arrows.splide__arrows .splide__arrow {
      background-color: rgba($color__black, 100%);
    }
  }
  &_bg_holder {
    inset: 0;
    width: 100%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba($color__black, 0) 0%,
        rgba($color__black, 0.8) 82.52%
      );
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ilu_capabilite_sec {
  .container {
    position: relative;

    &.one_side_full_container {
      & > .divider_line {
        left: 23%;
        top: 0;
        z-index: 3;
        @media (min-width: 768px) {
          left: 33%;
        }
        @media (min-width: 992px) {
          left: 23.6%;
        }
        @media (min-width: 1800px) {
          left: 23.5%;
        }
      }
    }
    // &:has(.caselet_quote_sec) {
    //   @media (max-width: 767px) {
    //     padding-top: 0;
    //   }
    // }
    & > .divider_line {
      left: 23.5%;
      top: 0;
      z-index: 3;
      @media (min-width: 768px) {
        left: 32.5%;
      }
      @media (min-width: 992px) {
        left: 23.5%;
      }
      @media (min-width: 1800px) {
        left: 23.5%;
      }
    }
  }
  .heading_text {
    @include font-size($body-font-sizes_18);
    margin-top: 32px;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
  .ilu_capabilite_slider {
    &_holder {
      margin-top: -40px;
      padding-left: 0;
      @media (max-width: 767px) {
        padding-left: 0;
        margin-top: 20px;
      }
    }
  }
  .splide__arrows.capabilite_splide_arrows {
  }
  .splide {
    &__track {
    }
    &__slide {
      padding: 40px 0;
      @media (max-width: 767px) {
        padding: 20px 0;
      }
    }
    &__card {
      box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);

      @media (max-width: 767px) {
        box-shadow: 0px 4px 14px 0px rgba($color__black, 0.25);
      }
      .img_wrap {
        background-color: $color__black;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .ratio {
        --bs-aspect-ratio: #{calc(450 / 725 * 100%)};
      }
    }
    &__content {
      color: $color__black;
      padding: 18px 27px 25px 27px;
      .heading_text {
        @include font-size($body-font-sizes_22);
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 0;
      }
      p {
        @include font-size($body-font-sizes_18);
      }
    }
  }
  .caselet_quote_sec {
    position: relative;
    z-index: 4;
    //background-color: $color__white;
    padding-top: 35px;
  }
}
.ilu_feature_sec {
  color: $color__white;
  background-color: $color__black;
  position: relative;
  overflow: hidden;
  .shape {
    position: absolute;
    right: -200px;
    bottom: 10%;
    width: 400px;
    height: 400px;
    background: linear-gradient(151.13deg, #f15a29 -9.42%, #750f0f 41.63%);
    // backdrop-filter: blur(212.5px);
    transform: rotate(-18deg);
    opacity: 0.6;
    filter: blur(100px);
  }
  .container {
    & > .divider_line {
      left: 23.5%;
      top: 0;
      z-index: 3;
      @media (min-width: 768px) {
        left: 33%;
      }
      @media (min-width: 992px) {
        left: 23.8%;
      }
      @media (min-width: 1200px) {
        left: 23.65%;
      }
      @media (min-width: 1800px) {
        left: 23.5%;
      }
    }
  }
  .sec_heading_wrap {
    .heading_text {
      margin-top: 32px;
      width: 240px;
      max-width: 100%;
      @include mq(xxxl) {
        width: 300px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .btn-holder {
      margin-top: 50px;
    }
  }
  .osfc {
    &_left_col {
      padding-right: 20px;
      @extend .py_8;
      @media (max-width: 767px) {
        padding-bottom: 0;
      }
    }
    &_right_col {
      @extend .py_8;
      .row {
        --bs-gutter-x: 3rem;
        @media (min-width: 992px) {
          --bs-gutter-x: 3.5rem;
        }
        @media (min-width: 1200px) {
          --bs-gutter-x: 7.5rem;
        }

        margin-inline: 0;
        @media (max-width: 767px) {
          --bs-gutter-x: 0rem;
        }
        [class*="col-"] {
          &:first-child {
            @media (max-width: 767px) {
              .feature_list {
                &_item {
                  padding-bottom: 30px;
                  margin-bottom: 20px;
                  border-bottom: 1px solid $color__white;
                }
              }
            }
          }
        }
      }
      & > .divider_line {
        left: 50%;
        top: 0;
        z-index: 3;
      }
    }
  }
  .feature {
    &_list {
      &_holder {
      }
      &_item {
        padding-bottom: 49px;
        margin-bottom: 40px;
        border-bottom: 1px solid $color__white;
        @media (max-width: 767px) {
          padding-bottom: 30px;
          margin-bottom: 20px;
        }
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }
        p {
          margin-bottom: 0;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 35px 0 0 0;
          display: flex;
          flex-wrap: wrap;
          gap: 25px;
          align-items: center;
          li {
            display: inline-block;
            img {
              width: auto;
              height: auto;
            }
          }
        }
        &:has(ul) {
          box-shadow: 0px 14px 44px 0px #00000026;
        }
      }
    }
    &_title {
      color: $color__primary;
      @include font-size($h24-sizes);
      font-weight: 600;
      margin-bottom: 24px;
    }
  }
}
.ilu_case__sec {
  @extend .pt_6;
  @extend .pb_10;
  .ilu_case_slider {
    &_holder {
      margin-top: 40px;
    }
  }
  .splide {
    &_item {
      .ratio {
        --bs-aspect-ratio: #{calc(348 / 884 * 100%)};
        &_holder {
          padding-right: 30px;
        }
      }
      .content {
        .tagLine {
          color: $color__primary;
          @include font-size($body-font-sizes_18);
          font-weight: 600;
          text-transform: uppercase;
        }
        .h4_heading_text {
          @include font-size($body-font-sizes_22);
          font-weight: 500;
        }
      }
      .counter-content {
        &-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
.ilu_cta_sec {
  @extend .comn_sec_pb;
  .ilu_cta_inner {
    color: $color__white;
    background-color: $color__black;
    padding: 90px 26px 0px 68px;
    overflow: hidden;
    background-image: url("../images/iluminator/cta-bg-line.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 767px) {
      background-position: bottom right;
    }
    @include mq(lg, max) {
      padding: 36px 24px 0px 24px;
    }
    .shape {
      position: absolute;
      top: 70%;
      right: 0px;
      transform: translateY(-50%);
      width: 280px;
      height: 280px;
      background: linear-gradient(151.13deg, #f15a29 -9.42%, #750f0f 41.63%);
      filter: blur(200px);
      pointer-events: none;
      @media (min-width: 768px) {
        width: 380px;
        height: 380px;
      }
      @media (min-width: 1200px) {
        width: 570px;
        height: 560px;
      }
    }
  }
  .sec_heading_wrap {
    width: min(460px, 100%);
    // padding-bottom: 80px;
    @extend .comn_sec_py;
    padding-top: 0;
    @include mq(xxxl) {
      width: 560px;
    }
    @include mq(xxl) {
      width: 480px;
    }
  }
  .heading_text {
    @include font-size($body-font-sizes_18);
    width: min(444px, 100%);
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .btn-holder {
    margin-top: 40px;
  }
  .ratio {
    &_holder {
      --bs-aspect-ratio: #{calc(337 / 602 * 100%)};
      margin-bottom: -1px;

      border-width: 10px 10px 0px 10px;
      border-style: solid;
      border-color: #595959;
      border-radius: 20px 20px 0 0;

      img {
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
    }
  }
}
.ilu_faq_sec {
  background-color: $color__light;
  .container {
    @extend .pt_8;
    @extend .pb_6;
    /*&>.divider_line{
            left: 23.5%;
            top: 0;
            z-index: 3;
            @media (min-width: 768px) {
                left: 32.5%;
            }
            @media (min-width: 992px) {
                left: 23.5%;
            }
            @media (min-width: 1800px) {
                left: 23.5%;
            }
        }*/
    > .divider_line {
      left: 36%;
      top: 0;
      bottom: 0;
      height: auto;
      @media (min-width: 768px) {
        left: 32.5%;
      }
      @media (min-width: 992px) {
        left: 25.5%;
      }
      @media (min-width: 1200px) {
        left: 25%;
      }
      @media (min-width: 1800px) {
        left: 24.9%;
      }
    }
  }
  .accordion {
    padding-left: 0px;
    @media (min-width: 768px) {
      padding-left: 20px;
    }
    @media (min-width: 992px) {
      padding-left: 30px;
    }
    @media (min-width: 1200px) {
      padding-left: 40px;
    }
    @media (max-width: 767px) {
      margin-top: 30px;
    }

    &-item {
      margin-bottom: 10px;
      border: none;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-header {
    }
    &-button {
      @include font-size($body-font-sizes_20);
      color: $color__black;
      font-weight: 600;
      box-shadow: none;
      background: transparent;
      padding: 30px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 767.5px) {
        padding: 20px 20px;
      }
      &::after {
        flex-shrink: 0;
        opacity: 1;
        width: 18px;
        height: 18px;
        background-image: url("../images/icons/plus-orange-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:not(.collapsed) {
        &::after {
          background-image: url("../images/icons/minus-orange-icon.svg");
          // background-repeat: no-repeat;
          // mask-size: 12px;
          // mask-position: center;
        }
      }
    }
    &-body {
      padding: 0px 74px 30px 30px;
      margin-top: -6px;
      @media (max-width: 767.5px) {
        padding: 0px 20px 20px 20px;
      }
    }
  }
}
.resources_tab_sec {
  &.ilu_resources_tab_sec {
    background-color: $color__white;
    @extend .py_9;
  }
}
/*
.nc_left_col,
.osfc_left_col {
    background: #f00;
}*/
