$color__white: #ffffff;
$color__black: #000000;
$color__gray: #383e45;
$color__light: #f3f3f3;
$color__light2: #F7F7F7;
$color__light__e2: #E2E2E2;
$color__light__fa: #FAFAFA;
$color__lightBlue: #97d6df;
$color__primary: #f15a29;
$color__primary_hover: #bf2f00;
$color__lightText: #d9d9d9;

$shine-color: rgba(255, 255, 255, 0.4);
$transition-speed: 0.4s;
