$basefont: "Red Hat Text", sans-serif;
//$basefont:  'Stara';
// $basefont: 'Playfair Display', serif;

$body-font-sizes: (
  null : (16px,1.4),
  sm   : (16px,1.4),
  md   : (16px,1.4),
  lg   : (16px,1.5),
  xl   : (16px,1.5),
  xxl  : (16px,1.5),
  xxxl : (20px,1.5)
);

$body-font-sizes_22: (
  null : (18px,1.44),
  sm   : (18px,1.44),
  md   : (18px,1.44),
  lg   : (18px,1.44),
  xl   : (20px,1.44),
  xxl  : (22px,1.44),
  xxxl : (26px,1.44)
);
$body-font-sizes_20: (
  null : (16px,1.44),
  sm   : (16px,1.44),
  md   : (16px,1.44),
  lg   : (16px,1.44),
  xl   : (18px,1.44),
  xxl  : (20px,1.44),
  xxxl : (24px,1.44)
);
$body-font-sizes_18: (
  null : (16px,1.44),
  sm   : (16px,1.44),
  md   : (16px,1.44),
  lg   : (16px,1.44),
  xl   : (16px,1.44),
  xxl  : (18px,1.44),
  xxxl : (22px,1.44)
);
$body-font-sizes_15: (
  null : (14px, calc(22/15)),
  sm   : (14px),
  md   : (14px),
  lg   : (14px),
  xl   : (14px),
  xxl  : (15px),
  xxxl : (17px)
);

$body-font-sizes_14: (
  null : (14px, calc(22/14)),
  sm   : (14px),
  md   : (14px),
  lg   : (14px),
  xl   : (14px),
  xxl  : (14px),
  xxxl : (16px)
);

// $h1-sizes: (
//   null :(36px,1.2),
//   sm  : (46px,1.2),
//   md  : (56px,1.2),
//   lg  : (66px,1.2),
//   xl  : (76px,1.2),
//   xxl  : (76px,1.2)
// );

// $h2-sizes: (
//   null :(30px,1.1),
//   sm  : (32px,1.1),
//   md  : (36px,1.1),
//   lg  : (40px,1.1),
//   xl  : (44px,1.2),
//   xxl  : (44px,1.2)
// );

// $h3-sizes: (
//   null :(18px,1.2),
//   sm  : (20px,1.2),
//   md  : (23px,1.2),
//   lg  : (26px,1.2),
//   xl  : (32px,1.2),
//   xxl  : (32px,1.2),
//   xxxl  : (44px,1.2)
// );

// $h4-sizes: (
//   null :(24px,1.2),
//   sm  : (24px,1.6),
//   md  : (28px,1.2),
//   lg  : (28px,1.2),
//   xl  : (32px,1.2),
//   xxl : (32px,1.2),
//   xxxl : (32px,1.2)
// );

// $h5-sizes: (
//   null :(16px,1.6),
//   sm  : (16px,1.6),
//   md  : (20px,1.7),
//   lg  : (20px,1.7),
//   xl  : (24px,1.7),
//   xxl  : (24px,1.7),
//   xxxl  : (24px,1.7)
// );

// $h6-sizes: (
//   null :(14px,1.2),
//   md  : (15px,1.2),
//   lg  : (15px,1.2),
//   xl  : (16px,1.3),
//   xxl : (16px,1.3),
//   xxxl : (20px,1.3)
// );
$bannerThank-headingText-sizes: (
  null :(26px, calc(7/5)),
  sm  : (26px),
  md  : (30px),
  lg  : (36px),
  xl  : (42px),
  xxl  : (50px),
  xxxl  : (60px)
);


$banner-headingText-sizes: (
  null :(26px,34px),
  sm  : (26px,34px),
  md  : (28px,36px),
  lg  : (30px,38px),
  xl  : (36px,40px),
  xxl  : (38px,42px),
  xxxl  : (50px,58px)
);

$secMain-headingText-sizes: (
  null :(20px,1.3),
  sm  : (26px,1.3),
  md  : (26px,1.3),
  lg  : (30px,1.22),
  xl  : (34px,1.22),
  xxl  : (36px,1.22),
  xxxl  : (44px,1.22)
);

$h3-headingText-sizes: (
  null :(20px,1.4),
  sm  : (22px,1.4),
  md  : (22px,1.3),
  lg  : (26px,1.3),
  xl  : (30px,1.22),
  xxl  : (32px,1.22),
  xxxl  : (40px,1.22)
);



$h4-headingText-sizes: (
  null :(20px,1.3),
  sm  : (20px,1.3),
  md  : (20px,1.3),
  lg  : (22px,1.3),
  xl  : (24px,1.3),
  xxl  : (26px,1.3),
  xxxl  : (30px,1.3)
);

$h24-sizes: (
  null :(18px,1.3),
  sm  : (18px,1.3),
  md  : (20px,1.3),
  lg  : (20px,1.3),
  xl  : (24px,1.3),
  xxl  : (24px,1.3),
  xxxl  : (28px,1.3)
);

$h26-sizes: (
  null :(20px,1.3),
  sm  : (20px,1.3),
  md  : (22px,1.3),
  lg  : (24px,1.3),
  xl  : (26px,1.3),
  xxl  : (26px,1.3),
  xxxl  : (30px,1.3)
);

$h28-sizes: (
  null :(20px,1.3),
  sm  : (20px,1.3),
  md  : (22px,1.3),
  lg  : (24px,1.3),
  xl  : (28px,1.3),
  xxl  : (28px,1.3),
  xxxl  : (32px,1.3)
);


$sec-headingText-2-sizes: (
  null :(22px,1.4),
  sm  : (22px,1.4),
  md  : (24px,1.3),
  lg  : (26px,1.3),
  xl  : (28px,1.22),
  xxl  : (28px,1.22),
  xxxl  : (36px,1.22)
);



$dgc_h2_headingText: (
  null :(22px,1.3),
  sm  : (22px,1.3),
  md  : (24px,1.3),
  lg  : (24px,1.3),
  xl  : (26px,1.3),
  xxl  : (26px,1.3),
  xxxl  : (30px,1.3)
);

$dgc_h3_headingText: (
  null :(20px,1.3),
  sm  : (20px,1.3),
  md  : (22px,1.3),
  lg  : (22px,1.3),
  xl  : (24px,1.3),
  xxl  : (24px,1.3),
  xxxl  : (28px,1.3)
);

$dgc_h4_headingText: (
  null :(18px,1.3),
  sm  : (18px,1.3),
  md  : (20px,1.3),
  lg  : (20px,1.3),
  xl  : (22px,1.3),
  xxl  : (22px,1.3),
  xxxl  : (26px,1.3)
);